<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the <%= title %> page </h1>

      </div>

      <div style="padding-top: 20px;">
        Welcome everyone to my Personal Homepage. <br>
        This is something like my virtual presence. <br> <br>

        I am really happy to know that you dropped by my webpage to know more about me.<br>
        You can go to About section to know more about me.
        <br><br><br>
        <strong>Mission</strong> <br>
        A Software student passionate about programming and design. <br>
        I am interested in working for a company that would make utilization of my potential. <br>
        I am open to work from any location.<br>
        You can contact me through the Contact section.
      </div>

    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>