<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>

        <h1 class="container p-3 my-3 text-center ">
            <%= title %>
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-sm" id="pro2">
                    <h1 class="container p-3 my-3 text-center ">Global Warming</h1>
                    <img src="Assets\images\Global warming.jpg" id='pic3' alt="demo" width="300px" height="300px">
                    <p class="container p-3 my-3 text-center "><b>this app acknowledges people about global warming and
                            gives them many tips which they can use in their routine life to protect the Environment</b>
                    </p>
                </div>
                <div class="col-sm" id="pro2">
                    <h1 class="container p-3 my-3 text-center ">Piano for everyone</h1>
                    <img src="Assets\images\Piano.jpg" id='pic3' alt="Avatar" width="300px" height="300px">
                    <p class="container p-3 my-3 text-center "><b>this app gives people tips and lessons and helps
                            people to learn playing piano by themself</b></p>
                </div>
                <div class="col-sm" id="pro2">
                    <h1 class="container p-3 my-3 text-center ">Photography website</h1>
                    <img src="Assets\images\Photography.jpg" id='pic3' alt="demo" width="300" height="300">
                    <p class="container p-3 my-3 text-center "><b>this app provides a user-friendly space for
                            photographers to create their own gallery and website and put their photos there and
                            advertise for their job</b></p>
                </div>
            </div>

        </div>
        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>