<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>



        <h1 class="container-fluid text-center text-white" id="tbl">
            <%= title %>
        </h1>
        <br>
        <br>
        <!-- <p>Welcome to <%= title %></p>-->
        <h5 class="container-fluid text-center text-dark text-capitalize" id="tbl"><b>This Company offers three services
            </b></h5>

        <table class="container-fluid text-center text-white " id="tbl">
            <tr>

                <th><i>
                        <h3>general programming</h3>
                    </i></th>
                <th><i>
                        <h3>web development</h3>
                    </i></th>
                <th><i>
                        <h3>mobile apps</h3>
                    </i></th>
            </tr>
            <tr>
                <td style="font-weight:bold text-dark">Available on Monday - Friday
                    <br> <img class="img-fluid" id="pic" src="Assets\images\Basics-of-Computer-Programming.jpg"
                        alt="demo" width="200px" height="200px">
                </td>
                <td style="font-weight:bold text-dark">Available on Monday - Friday
                    <br> <img class="img-fluid" id="pic" src="Assets\images\WebDevelopmentImage.jpeg" alt="demo"
                        width="200px" height="200px">
                </td>
                <td style="font-weight:bold text-dark">Available on Monday - Friday
                    <br> <img class="img-fluid" id="pic" src="Assets\images\mobile-apps.jpg" alt="demo" width="200px"
                        height="200px">
                </td>
            </tr>
            <tr>
                <td>Designing, Developing and Debugs Programs</td>
                <td>Designing, Developing and Debugs websites <br>and web applications</td>
                <td>Designing, Developing and Debugs mobile apps <br>and mobile games</td>
            </tr>

        </table>







        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>